
        // 1. color   
        // 2. fonts 
        // 3. section about 
        // 4. section certificate
        // 5. section reviews
        // 6. section partners 
        // 7. swiper css
        // 8. btn

        


.blue {color: #1B0C45;}
.orange {color: #EF8F59}
.black {color:#4F4E4E}
.white {color:#fff}
.bg-orange {background-color: #EF8F59;}
.bor-orange {border: 1px solid #F7F0EA; border-radius:10px;}

.h1 {
    font-weight: bold;
    font-size: 40px;
    line-height: 40px;
    letter-spacing: 0.03em;
    @media (max-width: 576.98px) {
        font-size: 30px;
        line-height: 30px;
    }
}
.h2 {
    font-weight: bold;
    font-size: 30px;
    line-height: 30px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    @media (max-width: 576.98px) {
        font-size: 25px;
        line-height: 25px;
    }
}
.btn { 
    font-weight: bold;
    font-size: 18px;
    line-height: 18px;
    letter-spacing: 0.03em;
    @media (max-width: 576.98px) {

    }
}
.title {
    font-weight: bold;
    font-size: 16px;
    line-height: 18px;
    letter-spacing: 0.03em;
    @media (max-width: 576.98px) {

    }
}
.title1 {
    font-weight: bold;
    font-size: 22px;
    line-height: 25px;
    letter-spacing: 0.03em;
    @media (max-width: 576.98px) {
        font-size: 18px;
        line-height: 16px;
    }
}
.text {
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0.03em;
    @media (max-width: 576.98px) {
        font-size: 14px;
        line-height: 18px;
    }
}
.text2 {
    font-weight: normal;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 0.03em;
    @media (max-width: 576.98px) {
        font-size: 12px;
        line-height: 16px;
    }
}
.number {
    font-weight: bold;
    font-size: 25px;
    line-height: 25px;
    letter-spacing: 0.03em;
    @media (max-width: 576.98px) {
        font-size: 22px;
        line-height: 25px;
    }
}
.text18 {
    font-weight: normal;
    font-size: 18px;
    line-height: 20px;
    letter-spacing: 0.03em;
    @media (max-width: 576.98px) {
        font-size: 14px;
        line-height: 18px;
    }
}
.text14 {
    font-weight: normal;
    font-size: 14px;
    line-height: 22px;
    @media (max-width: 576.98px) {
        line-height: 18px;
    }
}
.text18-bold {
    font-weight: bold;
    font-size: 18px;
    line-height: 22px;
    @media (max-width: 576.98px) {
        font-weight: normal;
        font-size: 14px;
        line-height: 18px;
    }
}
.text12 {
    font-weight: normal;
    font-size: 12px;
    line-height: 20px;
    @media (max-width: 576.98px) {
        font-size: 14px;
        line-height: 18px;
    }
}

.about {
    margin-bottom: 100px;
    @media (max-width: 576.98px) {
        margin-bottom: 70px;
    }
    &__top {
        display: flex;
        justify-content: space-between;
        margin-bottom: 50px;
        @media (max-width: 1199.98px) { 
            display: block;
         } 
    }
    &__title {
        @media (max-width: 1199.98px) {
            margin-bottom: 30px;
        }
    }
    &__description {
        max-width: 608px;
        @media (max-width: 1199.98px) {
            max-width: unset;
        }
    }
    &__quality {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }
    &__quality-item {
        width: 310px;
        text-align: center;
        padding-bottom: 20px;
        &:not(:last-child) {
            border-right: 1px solid #F7F0EA;;
        }
        @media (max-width: 1271px) {
            &:nth-child(3) {
                border-right: unset;
            }
        }
        @media (max-width: 959px) {
            &:nth-child(2) {
                border-right:unset;
            }
        }
        @media (max-width: 649px) {
            &:nth-child(1) {
                border-right: unset;
            }
            &:not(:last-child) {
                border-bottom: 1px solid #F7F0EA;
                margin-bottom: 20px;
            }
        }
    }
    &__quality-title {
        margin-bottom: 5px;
    }
    &__quality-description {
        max-width: 157px;
        margin: 0 auto;
    }
}


.certificate {
    .container {
        background-image: url(../images/bg-certificate.png);
        background-repeat: no-repeat;
    }
    &__content {
        display: flex;
        max-width: 1050px;
        margin: 0 auto;
        padding: 53px 0px 66px 0px;
        justify-content: space-between;
        @media (max-width: 1199.98px) {
            display: block;
            padding: 43px 0px 63px 0px;
        }
    }
    &__info {
        max-width: 610px;
        @media (max-width: 1199.98px) {
            max-width: unset;
            margin-bottom: 50px;
        }
    }
    &__title {
        margin-bottom: 30px;
    }
    &__description {
        margin-bottom: 30px;
        @media (max-width: 767.98px) {
            margin-bottom: 20px;
        }
    }
    &__nav {
        margin-bottom: 30px;
        @media (max-width: 767.98px) {
            margin-bottom: 20px;
        }
    }
    &__item {
        display: flex;
        span {
            margin-right: 10px;
        }
        &:not(:last-child) {
            margin-bottom: 20px;
            @media (max-width: 767.98px) {
                margin-bottom: 15px;
            }
        }
    }
}

.reviews { 
    padding-bottom: 100px;
    
    @media (max-width: 767.98px) {
        padding-bottom: 70px;
    }
    .container {
        @media (max-width: 767.98px) {
           padding: unset;
        }
    }
    &__title {
        margin-bottom: 34px;
        @media (max-width: 767.98px) {
            margin-bottom: 30px;
            padding: 0px 15px;
        }
    }
    &__card {
        padding: 24px 62px 71px 38px;
        position: relative;
    }
    .swiper-container {
        padding-bottom: 63px;
        overflow: hidden;
        position: relative;
    }
    // .swiper-slide-next {
    //     margin: 0px 55px;
    // }
    &__description {
        max-height: 110px;
        overflow: hidden;
        max-width: 285px;
        
        @media (max-width: 767.98px) {
            max-width: unset;
        }
    }
    &__author {
        display: flex;
        position: absolute;
        bottom: -26px;
    }
    &__img {
        margin-right: 13px;
    }
    &__bg-left { 
        left: 0;
        transform: rotate(360deg);
    }
    &__bg-right {
        right: 0;
        transform: rotate(180deg);
    }
    &__bg-right,
    &__bg-left {
        position: absolute;
        height: 100%;
        background: linear-gradient(90deg, #FFFFFF 33.85%, rgba(255, 255, 255, 0) 100%);
        z-index: 1;
        width: 205px;
        top: 0;
        @media(max-width: 768.98px) {
            display: none;
        }
    }
    @media(max-width: 768.98px) {
        .swiper__buttons {
            display: none;
        }
    }
    
}

.partners {
    margin-bottom: 100px;
    @media (max-width: 767.98px) {
        margin-bottom: 30px;
        padding-bottom: 40px;
        border-bottom: 2px solid #F7F0EA;
    }
    &__title {
        margin-bottom: 59px;
        @media (max-width: 767.98px) {
            margin-bottom: 30px;
        }
    }
    picture {
        display: flex;
        justify-content: center;
        margin-bottom: 35px;
        @media (max-width: 767.98px) {
            margin-bottom: 20px;
        }
    }
    .swiper-wrapper {
        justify-content: center;
        // @media (max-width: 767.98px) {
        //     padding-bottom: 40px;
        // }
        
    }
    .swiper-slide-next {
        padding: 0px 26px;
        border-left: 1px solid #F2F2F2;
        border-right: 1px solid #F2F2F2;
    }
    &__card {
        // padding-right: 26px;
        // border-right: 1px solid #F2F2F2;
    }
}


.swiper-wrapper {
    display: flex;
    justify-content: center;
}
.swiper-pagination {
    display: flex;
    text-align: center;
    justify-content: center;
    position: absolute;
    left: 0;
    right: 0;
    bottom:0;
    column-gap: 15px;
}
.swiper-pagination-bullet {
    width: 12px;
    height: 12px;
    border: 1px solid #E3EAF8;
    background: #E3EAF8;
    box-sizing: border-box;
    display: flex;
    border-radius: 50%;
}
.swiper-pagination-bullet-active {
    background: #EF8F59;
    border: 1px solid #EF8F59;
    box-sizing: border-box;
}
.swiper__buttons {
    display: flex;
    justify-content: space-between;
    position: absolute;
    top: 50%;
    width: 100%;
    transform: translate(0, -50%);
    z-index: 2;
}


.btn {
    &__swiper {
        padding: 15px 20px;
        border-radius:  50px;
        width: 60px;
        height: 60px;
    }
    &__swiper-prev {
        cursor: pointer;
    }
    &__swiper-next {
        rotate: 180deg;
        cursor: pointer;
    }
}